<main class="main container pt-4">

  <div class="row">
    <div class="col-lg-4">
      <div class="feature-box">
        <h3>Secure Payments</h3>
        <p>Enjoy secure payments with Aadhaar authentication, ensuring the safety of your transactions.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="feature-box">
        <h3>Convenient</h3>
        <p>Make payments anytime, anywhere using AEPS. No need to carry cash or cards.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="feature-box">
        <h3>Easy Integration</h3>
        <p>Integrate AEPS into your business smoothly and provide a seamless payment experience to your customers.</p>
      </div>
    </div>
  </div>

</main>
