<main class="main container pt-4">
  <h3 class="text-center">Fc crud opt</h3>
  <div class="btn-flex p-7">
    <button class="btn btn-success" (click)="changeStatus('create')">
      Create new
    </button>
    <button class="btn btn-primary" (click)="changeStatus('update')">
      Update
    </button>
    <button class="btn btn-warning" (click)="changeStatus('view')">View</button>
    <button class="btn btn-danger" (click)="changeStatus('delete')">
      Delete
    </button>
  </div>

  <!-- create new fc -->
  <section *ngIf="status == 'create'">
    <div class="col-lg-6 offset-lg-3 mt-2">
      <h4 class="text-center mb-2">Create new FC account</h4>
      <form
        #mData="ngForm"
        class="form-disign"
        (ngSubmit)="fcCreate(mData.value)"
      >
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            ngModel
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            ngModel
            required
          />
        </div>
        <div class="form-group">
          <label for="mobile">Mobile nu.</label>
          <input
            type="number"
            class="form-control"
            id="mobile"
            name="mobile"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label for="house_no">House nu.</label>
          <input
            type="text"
            class="form-control"
            id="house_no"
            name="house_no"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label for="street">Street</label>
          <input
            type="text"
            class="form-control"
            id="street"
            name="street"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label for="village">Village</label>
          <input
            type="text"
            class="form-control"
            id="village"
            name="village"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label for="thana">thana</label>
          <input
            type="text"
            class="form-control"
            id="thana"
            name="thana"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label for="subDistrict">Sub District</label>
          <input
            type="text"
            class="form-control"
            id="subDistrict"
            name="subDistrict"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label for="district">District</label>
          <input
            type="text"
            class="form-control"
            id="district"
            name="district"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label for="state">State</label>
          <input
            type="text"
            class="form-control"
            id="state"
            name="state"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label for="country">Country</label>
          <input
            type="text"
            class="form-control"
            id="country"
            name="country"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label for="pincode">Pincode</label>
          <input
            type="text"
            class="form-control"
            id="pincode"
            name="pincode"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label for="gst">GST (optional)</label>
          <input
            type="text"
            class="form-control"
            id="gst"
            name="gst"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label for="aadharNumber">Aadhar number</label>
          <input
            type="text"
            class="form-control"
            id="aadharNumber"
            name="aadharNumber"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label for="panNumber">Pan number</label>
          <input
            type="text"
            class="form-control"
            id="panNumber"
            name="panNumber"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label for="areaName">Working area</label>
          <input
            type="text"
            class="form-control"
            id="areaName"
            name="areaName"
            ngModel
            required
          />
        </div>
        <div class="form-group">
          <label for="bio">Bio</label>
          <input
            type="text"
            class="form-control"
            id="bio"
            name="bio"
            ngModel
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <button
            type="submit"
            class="btn btn-primary"

          >
            Next
          </button>
        </div>
      </form>
    </div>
  </section>

  <!-- upload doc -->
  <section *ngIf="status == 'upload_doc'">
    <div class="col-lg-6 offset-lg-3 mt-2">
      <h4 class="text-center mb-2">Upload Documnets</h4>

      <form
        #mData="ngForm"
        (ngSubmit)="uploadImage(mData.value)"
        class="form-disign"
      >
        <div class="form-group">
          <label for="image"><strong> Upload Image</strong></label>
          <input
            type="file"
            (change)="onFileSelected($event)"
            id="image"
            name="image"
            class="form-control"
            ngModel
            required
          />
        </div>
        <button class="form-group" type="submit">Upload</button>
      </form>

      <form
      #latData="ngForm"
      (ngSubmit)="uploadImage(latData.value)"
      class="form-disign"
    >
      <div class="form-group">
        <label for="mapingImage"><strong> Upload Image image with shop</strong></label>
        <p><strong>Note: </strong>make sure your GPS is on and show lan ang log in front of your img</p>
        <input
          type="file"
          (change)="onFileSelected($event)"
          id="mapingImage"
          name="mapingImage"
          class="form-control"
          ngModel
          required
        />
      </div>
      <button class="form-group" type="submit">Upload</button>
    </form>


      <form
      #panData="ngForm"
      (ngSubmit)="uploadImage(panData.value)"
      class="form-disign"
    >
      <div class="form-group">
        <label for="pan"><strong> Upload Pan Card</strong></label>
        <input
          type="file"
          (change)="onFileSelected($event)"
          id="pan"
          name="pan"
          class="form-control"
          ngModel
          required
        />
      </div>
      <button class="form-group" type="submit">Upload</button>
    </form>

      <form
        #frontData="ngForm"
        (ngSubmit)="uploadImage(frontData.value)"
        class="form-disign"
      >
        <label for="aadharFront"><strong>Upload Aadhar front</strong> </label>
        <input
          type="file"
          (change)="onFileSelected($event)"
          id="aadharFront"
          name="aadharFront"
          class="form-control"
          ngModel
          required
        />
        <button type="submit">Upload</button>
      </form>

      <form
        #backData="ngForm"
        (ngSubmit)="uploadImage(backData.value)"
        class="form-disign"
      >
        <label for="aadharBack"><strong>Upload Aadhar back</strong> </label>
        <input
          type="file"
          (change)="onFileSelected($event)"
          id="aadharBack"
          name="aadharBack"
          class="form-control"
          ngModel
          required
        />
        <button type="submit">Upload</button>
      </form>

      <form
        #bankData="ngForm"
        (ngSubmit)="uploadImage(bankData.value)"
        class="form-disign"
      >
        <label for="bankPassbook"
          ><strong> Upload bank passbook</strong></label
        >
        <input
          type="file"
          (change)="onFileSelected($event)"
          id="bankPassbook"
          name="bankPassbook"
          class="form-control"
          ngModel
          required
        />
        <button type="submit">Upload</button>
      </form>
    </div>

    <button class="btn btn-success" (click)="fcDone()">Done</button>
  </section>

  <!-- update fc -->
  <section *ngIf="status == 'update'">
    <h1>update</h1>
  </section>

  <!-- view fc -->
  <section *ngIf="status == 'view'">
    <div class="container">
      <div class="user-details">
        <h2>FC Details</h2>
        <p><strong>Name:</strong> Vinay Kumar</p>
        <p><strong>Email:</strong> vinay3000111@gmail.com</p>
        <p><strong>Phone:</strong> 7390016161</p>
        <p>
          <strong>Address:</strong> 23, Songardha, haliya, Ahungi kalan, haliya,
          lalganj, mirzapur, up
        </p>
      </div>

      <h2>Additional Information</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget
        lacus velit. Donec aliquam metus quis elit tincidunt convallis.
      </p>
      <p>
        Proin sed lectus non tellus vulputate congue. Integer gravida est in
        diam euismod, vel aliquet magna hendrerit.
      </p>
      <p>
        Etiam commodo tempor orci, id consequat velit convallis sed. In
        fermentum tellus vel purus volutpat efficitur.
      </p>
    </div>
  </section>

  <!-- delete fc -->
  <section *ngIf="status == 'delete'">
    <h1>delete</h1>
  </section>
</main>
